table {
    margin: 2rem auto;
    border: 3px rgb(42, 83, 42) solid;
    width: 35rem;
    border-collapse: collapse;
}


tfoot tr{
    border: 3px rgb(42, 83, 42) solid;

}

td, th {
    border: 1px rgb(42, 83, 42) solid;
    padding: 0.5rem 1.5rem;
    text-align: left;
}

tbody th:first-child{
    width: 50%;
}
thead th{
    background-color: rgb(84, 126, 84);
    color: white;
}

tbody tr:nth-child(even){
    background-color: rgb(221, 224, 221);
}

tfoot th{
    background-color: rgb(221, 224, 221);
}

tbody th:hover{
    color: red;
}
