body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(30, 30, 30);
}

form{
    width: 30rem;
    margin: 3rem auto;
    background-color: white;
    padding: 1rem;
    border-radius: 6px;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}
input, textarea{
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.25rem;
    font:inherit;
    border: 1px solid rgb(184,184,184);
    color:rgb(61,58,58) ;
}